@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 213 13% 16%;
    
    --muted: 0 12% 90%;
    --muted-foreground: 0 12% 30%;
    
    --popover: 0 0% 97%;
    --popover-foreground: 213 13% 6%;
    
    --card: 0 0% 98%;
    --card-foreground: 213 13% 11%;
    
    --border: 0 0% 95%;
    --input: 0 0% 92%;
    
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    
    --secondary: 213 3% 75%;
    --secondary-foreground: 213 3% 15%;
    
    --accent: 0 0% 85%;
    --accent-foreground: 0 0% 25%;
    
    --destructive: 0 80% 40%;
    --destructive-foreground: 0 0% 100%;
    
    --ring: 213 13% 16%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 223 20% 18%;
    --foreground: 48 9% 78%;

    --muted: 223 12% 22%;
    --muted-foreground: 223 12% 72%;

    --popover: 223 20% 15%;
    --popover-foreground: 48 9% 88%;

    --card: 223 20% 16%;
    --card-foreground: 48 9% 83%;

    --border: 223 10% 23%;
    --input: 223 10% 26%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 219 2% 75%;
    --secondary-foreground: 219 2% 15%;

    --accent: 223 20% 33%;
    --accent-foreground: 223 20% 93%;

    --destructive: 10 90% 60%;
    --destructive-foreground: 10 90% 0%;

    --ring: 219 12% 43%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
